core {
	active-bg-color: #fff;
	active-bg-opacity: 0.333;
}
 
edge {
	curve-style: haystack;
	haystack-radius: 0;
	/* opacity: 0.333; */
	opacity: 1;
	width: 2;
	line-color: #4d4d4d;
	z-index: 0;
	overlay-opacity: 0;
}
 
edge[interaction = "arenas-ou-articulacoes-das-quais-participa"],
edge[interaction = "programas-em-que-participa-da-execucao"] {
	line-style: dashed;
}

edge[interaction = "fontes-de-recursos-do-programa"] {
	curve-style: bezier;
	source-arrow-shape: triangle;
	source-arrow-color: #4d4d4d;
}

node {
	/*width: mapData(size, 10, 100, 20, 60);
	height: mapData(size, 10, 100, 20, 60);*/
	width: 40;
	height: 40;
	font-size: 14;
	/*font-weight: bold;*/
	min-zoomed-font-size: 4;
	content: data(label);
	font-family: Raleway;
	text-valign: bottom;
	text-margin-y: 3;
	text-halign: center;
	background-color: #7d99be;
	border-width: 1;
	border-color: #666;
	border-opacity: 1;
	text-outline-width: 2;
	text-outline-color: #fff;
	overlay-color: #fff;
}

node[icon = "articulacao"],
node[icon = "rede-de-organizacoes-da-sociedade-civil"],
node[icon = "associacao-de-empresas"],
node[icon = "conselho-social"] {
	background-color: #97adcb;
	background-image: url("imgs/rede_36.png");
}

node[icon = "associacao-de-empresas"] {
	background-color: #cbb197;
}

node[icon = "empresa-privada"] {
	background-color: #be9e7d;
}

node[icon = "academia"] {
	background-color: #aeacc9;
}

node[icon = "arena"] {
	background-color: #7bcbbc;
}

node[icon = "sindical"], 
node[icon = "organizacao-social"], 
node[icon = "movimento-social"] {
	background-color: #d88d78;
}

node[icon = "rede-de-organizacoes-da-sociedade-civil"] {
	background-color: #e0a493;
}

node[icon = "banco-de-fomento"] {
	background-color: #d8bf78;
	background-image: url("imgs/banco_de_fomento_36.png");
}

node[icon = "programa"] {
	background-color: #7bcbbc;
	background-image: url("imgs/programa_36.png");
}

 
node.highlighted {
	min-zoomed-font-size: 0;
    	font-size: 16;
    	text-outline-width: 2;
    	text-outline-opacity: 1;
    	z-index: 9999;
}
 
edge.highlighted {
	opacity: 1;
	width: 4;
	z-index: 9999;
}
 
edge.faded {
	opacity: 0.1;
}
 
node.faded {
	opacity: 0.2;
	text-opacity: 0;
	background-image: none;
	width: 20;
	height: 20;
}
 
node:selected {
	width: 50;
	height: 50;
	border-color: rgb(187, 219, 247);
	border-opacity: 0.5;
	border-width: 10;
}

.filtered {
	display: none;
}
