/*
A custom Bootstrap 3.1 theme from http://bootply.com\

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/


html,body{
  	height:100%;
  	/*background-color:#242424;*/
  	background: #fff url("../imgs/bckgrd.png") repeat;
  	font-family: Raleway, sans-serif;
}

body{
  	padding-top:50px; /*padding for navbar*/
}

.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	/*background-color: #168ccc;*/
	background-color: #7bcbbc;
  color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	/*background-color:#49bfff;*/
	background-color: #729fcf;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
	border-color: #49bfff;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
	height:100%;
}

#map-canvas {
	width:66.6666%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:50px;
    bottom:0;
    overflow:hidden;
}
#map-canvas {
	width:100%;
}
#info {
  position: absolute;
  left: 0;
  top: 3em;
  margin: 0.5em;
  background: #bbdbf7;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  width: 20em;
  display: none;
}

#structure-name {
  position: absolute;
  right: 0;
  top: 3em;
  margin: 0.5em;
  background: #bbdbf7;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  width: 20em;
}
#structure-name span {
	font-weight: bold;
	color: #339;
}

#info p {
  margin: 0;
}
.ac-name {
  font-size: 1.25em;
}

.ac-node-type,
.ac-milk,
.ac-country,
.ac-more {
  font-size: 0.8em;
}
.ac-label {
	font-weight: bold;
}

#reset {
    left: 0;
    width: 3em;
    margin: 0.5em;
    position: absolute;
    bottom: 0.5em;
    z-index: 999;
}

.dropdown-menu {
	background-color: rgba(255, 255, 255, 0.9);
	overflow-x: hidden;
	height: 200px;
}

#nodeTooltip {
	display:none;
	position:fixed;
	border:1px solid rgba(135, 234, 35, 1);
	background-color: rgba(135, 234, 35, 0.7);
	border-radius:5px;
	padding:2px;
	color:#000;
	font-size:10px Arial;
	z-index:1001;
	min-width:100px;
	line-height:100%;
}
