* { padding: 0; margin: 0; }
body {
	background:#eee top left no-repeat;
	padding:5px;
}
  table.ranking { 
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    cellspacing: 0; 
    border-collapse: collapse; 
    width: 535px;    
    }
  table.ranking td { 
    border-left: 1px solid #999; 
    border-top: 1px solid #999;  
    padding: 2px 4px;
    }
  table.ranking tr:first-child td {
    border-top: none;
  }
  table.ranking th { 
    border-left: 1px solid #999; 
    padding: 2px 4px;
    background: #6b6164;
    color: white;
    font-variant: small-caps;
    }
  table.ranking td { background: #eee; overflow: hidden; }
  
  div.scrollableContainer { 
    position: relative; 
    width: 735px; 
    padding-top: 35px; 
    margin: 0 5px 40px 5px;    
    border: 1px solid #999;
    background: #6b6164;
    }
  div.scrollingArea { 
    height: 350px; 
    overflow: auto; 
    }

  table.scrollable thead tr {
	position: absolute;
    left: -1px; 
    top: 0;
    }

  table.ranking .R     div { width: 20px; text-align:center; font-weight:bold}
  table.ranking .nome div { width: 220px; font-weight:bold; font-size: 12px}
  table.ranking .dados    div { width: 100px;  text-align:center; }
  table.ranking .CNPJ    div { width: 130px;  text-align:center; }
  
  table.ranking td.R { background: #ebcb4d; }
  table.ranking td.nome  { background: white; }
  table.ranking td.dados     { background: #C7E0C1; }
  table.ranking td.CNPJ     { background: #C7E0C1; }  


	h5.ranking {
		color:#933;
		margin:0;
		padding:10px 0 7px 0;
	}

/*CytoscapeWeb: */
  #cytoscapeweb { width: 700px; height: 450px; border: #444 solid 1px}
  #noteGeral { float:right; width: 240px; height: 400px; background-color: #f0f0f0; overflow: auto;  }
  #note p, #dicas p { text-indent:0;text-align:left;padding: 0 0.5em; margin: 0 0 5px 0; font-size:12px; }
  #note h1, #dicas h1 { padding: 0 0.5em; margin: 0; font-size:16px; font-weight:bold; border-bottom:1px solid #333}
  p:first-child { padding-top: 0.5em; }
  
/* SimpleTabs: default style */
div.simpleTabs { padding:0; margin:0; width:1020px; }
ul.simpleTabsNavigation { margin:0 10px; padding:0; text-align:left; }
ul.simpleTabsNavigation li { list-style:none; display:inline; margin:0; padding:0; }
ul.simpleTabsNavigation li a { color: #343434; border:1px solid #aaa; padding:3px 6px; background:#e4e4e4; font-size:12px; font-weight: normal; text-decoration:none; }
ul.simpleTabsNavigation li a.especifica { background:#dbb; }
ul.simpleTabsNavigation li a:hover { text-decoration:none; background-color:#f99; }
ul.simpleTabsNavigation li a.current { background:#fff; border-bottom:1px solid #f0f0f0; }
div.simpleTabsContent { border:1px solid #aaa; padding:5px 15px 15px 15px; margin-top:2px; display:none; background-color: #fff;height:500px;overflow:auto;}
div.conteudoRanking { padding:5px 15px 15px 15px; margin-top:2px; background-color: #fff;height:500px;overflow:auto;width:1020px;}
div.simpleTabsContent.currentTab { display:block; }
div.simpleTabsContent h1, div.conteudoRanking h1 {
  font-size: 32px;
  margin: 0;
  font-weight: normal;
  text-align:left;
  font-family:"Times New Roman";
  padding:0 0 10px 0;
}
div.simpleTabsContent h2, div.conteudoRanking h2 {
  font-size: 26px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  padding:40px 0 7px 0;
  text-align:left;
  font-family:"Arial";
  font-weight:bold;
}
div.simpleTabsContent h3, div.conteudoRanking h3 {
  font-size:18px;
  margin: 0;
  padding: 10px 0 7px 0;
  color:#666666;
  font-family:"Arial";
  font-weight:normal;
  font-style:italic;
}
div.simpleTabsContent h4, div.conteudoRanking h4 {
  font-size: 18px;
  margin: 0;
  padding: 10px 0 7px 0;
  font-weight: normal;
  color:#666666;
  font-family:"Arial";
}
div.simpleTabsContent h5, div.conteudoRanking h5 {
	padding: 7px 0;
	color: #9C161D;
	font-size:14px;
	font-family:"Arial";
	font-weight:bold;
}
div.simpleTabsContent h6, div.conteudoRanking h6 {
	padding-top:10pt;
	line-height:1.15;
	text-align:left;
	color:#666666;
	font-style:italic;
	font-size:10pt;
	font-family:"Arial";
	padding-bottom:2pt
}
div.simpleTabsContent ol, div.simpleTabsContent ul, div.conteudoRanking ol, div.conteudoRanking ul {
	margin: 0 0 0 60px;
}
div.simpleTabsContent li, div.conteudoRanking li {
	margin: 0 0 8px 0;
}
div.simpleTabsContent p, div.conteudoRanking p {
	font-size:11pt;
	margin:0 10px 7px 10px;
	font-family:"Arial";
	text-align:justify;
	text-indent:20px;
}
.c8{max-width:523.3pt;background-color:#ffffff;padding:36pt 36pt 36pt 36pt}
.title{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:36pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}
.subtitle{padding-top:18pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:24pt;font-family:"Georgia";padding-bottom:4pt}
li{color:#000000;font-size:11pt;font-family:"Arial"}

div.stats {
	height: 300px;
	width: 570px;
	overflow:auto;
	border:solid 1px #999;
	margin:0 0 40px 40px;
}
  table.stats { 
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    cellspacing: 0; 
    border-collapse: collapse; 
    width: 535px;
    margin: 10px;
    }
  table.stats td { 
    border: 1px solid #999; 
    padding: 2px 4px;
    background:#fff;
    }
  table.stats tr:first-child td {
    border-top: none;
  }
  table.stats th { 
    border-left: 1px solid #999; 
    padding: 2px 4px;
    background: #6b6164;
    color: white;
    font-variant: small-caps;
   }
   table.stats tr.total td {
   	background: #6b6164;
   	color: white;
   }
  
h1.stats {
  font-size: 32px;
  margin: 0 0 0 20px;
  font-weight: normal;
  text-align:left;
  font-family:"Times New Roman";
  padding:0 0 10px 0;
}
h2.stats{
  font-size: 26px;
  margin: 0 0 0 50px;
  padding: 0;
  font-weight: normal;
  padding:0px 0 7px 0;
  text-align:left;
  font-family:"Arial";
  font-weight:bold;
}
#banner {
	width: 200px;
	border: solid 1px #999;
	padding: 20px;
	background-color: #afa;
}
#banner p, #banner a {
	font-size: 9pt;
	text-align: justify;
	font-family:"Arial";
	margin-bottom:3px;
}
a, a:visited { color:#00f }
a:hover { text-decoration:none; color:#004; }
.destaque, a span.destaque { color:#050 }

/*RSS*/
div#noticiasRSS {
	padding: 0 50px;
	height:400px;
	overflow:auto;
	background-color:#eee;
}
#noticiasRSS p {
	font-size:14px;
	color:#000;
	margin:0;
	padding:0;
	text-align: left;
	text-indent: 0;
	padding:0 30px;
}
#noticiasRSS h2 {
	font-size:14px;
	font-weight:bold;
	margin:10px 10px 0;
	padding:0;
	text-align:left
}
#noticiasRSS p.data {
	font-size:12px;
	color:#555;
	margin: 2px 0 4px;
}
#noticiasRSS p.leiamais {
	font-size:12px;
	margin-bottom: 15px;
}
/*Mini tabelas da aba de doações e financiamento*/
div.mintab {
	height:300px;
	overflow:auto;
	margin:5px;
	padding:0;
	background-color:#eee
}
div.mintab h2 {
	font-size:12px;
	font-weight:bold;
	margin:15px 5px 0 5px;
	padding: 0;
	text-decoration:underline;
}
div.mintab h3 {
	font-size:12px;
	font-weight:bold;
	text-align:right;
	margin:5px;
	padding: 0;
}
div.mintab p {
	font-size:10px;
	margin:0 5px 5px 30px;
	padding:0;
	text-indent:0;
	text-align:left;
}
div.simpleTabs h1.mintab {
	color: #3E576F;
    fill: #3E576F;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-align:center;
    margin:0;
    padding:0
}
div.mintab h5 {
	font-size:12px;
	margin:0 5px 5px 5px;
	padding:0;
	text-align:left;
	font-weight:bold;
	color:#444;
}
div.controle_legenda {
	text-align:center;
	font-size:10px;
	margin:0;
	padding:0;
}
.toggle {
	float:right;
	margin:9px 3px 0;
	font-size: 14px;
	color:#fff;
	border: outset 1px #000;
	cursor: hand; cursor: pointer;
	background-color: #6b6;
}
