* { padding: 0; margin: 0; }
body {
	/*background:url(imgs/proprietarios_logo3.png) #eee top left no-repeat;*/
	padding:5px;
}
  #dicas {display:none}
  table.ranking { 
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    cellspacing: 0; 
    border-collapse: collapse; 
    width: 535px;    
    }
  table.ranking td { 
    border-left: 1px solid #999; 
    border-top: 1px solid #999;  
    padding: 2px 4px;
    }
  table.ranking tr:first-child td {
    border-top: none;
  }
  table.ranking th { 
    border-left: 1px solid #999; 
    padding: 2px 4px;
    background: #6b6164;
    color: white;
    font-variant: small-caps;
    }
  table.ranking td { background: #eee; overflow: hidden; }
  
  div.scrollableContainer { 
    position: relative; 
    width: 735px; 
    padding-top: 35px; 
    margin: 0 5px 40px 5px;    
    border: 1px solid #999;
    background: #6b6164;
    }
  div.scrollingArea { 
    height: 350px; 
    overflow: auto; 
    }

  table.scrollable thead tr {
	position: absolute;
    left: -1px; 
    top: 0;
    }

  table.ranking .R     div { width: 20px; text-align:center; font-weight:bold}
  table.ranking .nome div { width: 220px; font-weight:bold; font-size: 12px}
  table.ranking .dados    div { width: 100px;  text-align:center; }
  table.ranking .CNPJ    div { width: 130px;  text-align:center; }
  
  table.ranking td.R { background: #ebcb4d; }
  table.ranking td.nome  { background: white; }
  table.ranking td.dados     { background: #C7E0C1; }
  table.ranking td.CNPJ     { background: #C7E0C1; }  


	h5.ranking {
		color:#933;
		margin:0;
		padding:10px 0 7px 0;
	}

/*CytoscapeWeb: */
  #cytoscapeweb { padding-right: 240px; height: 500px; border: #444 solid 1px}
  #note { float:right; width: 220px; height: 500px; background-color: #f0f0f0; overflow: auto;  }
  #note p { text-indent:0;text-align:left;padding: 0 0.5em; margin: 0 0 5px 0; font-size:12px; }
  #note h1, #note h2 { padding: 0 0.5em; margin: 0; font-size:16px; font-weight:bold; border-bottom:1px solid #333}
  #note h2 { font-size: 13px; margin-top: 10px; cursor:pointer; }
  #note h2:hover { background-color: #cca; }
  #note ul { margin-left: 20px; display:none }
  #note li { font-size: 11px; }
  p:first-child { padding-top: 0.5em; }
  
/* SimpleTabs: default style */
div.simpleTabs { padding:2px; margin:0 20px }
ul.simpleTabsNavigation { margin:0 10px; padding:0; text-align:left; }
ul.simpleTabsNavigation li { list-style:none; display:inline; margin:0; padding:0; }
ul.simpleTabsNavigation li a { color: #343434; border:1px solid #aaa; padding:3px 6px; background:#e4e4e4; font-size:12px; font-weight: normal; text-decoration:none; }
ul.simpleTabsNavigation li a:hover { text-decoration:none; background-color:#f99; }
ul.simpleTabsNavigation li a.current { background:#fff; border-bottom:1px solid #f0f0f0; }
div.simpleTabsContent { border:1px solid #aaa; padding:5px 15px 15px 15px; margin-top:2px; display:none; background-color: #fff;height:500px;}
div.simpleTabsContent.currentTab { display:block; }
div.simpleTabsContent h1 {
  font-size: 32px;
  margin: 0 0 35px 0;
  font-weight: normal;
  text-align:center;
  font-family:"Times New Roman";
  padding:0;
}
div.simpleTabsContent h2{
  font-size: 26px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  padding:40px 0 7px 0;
  text-align:left;
  font-family:"Arial";
  font-weight:bold;
}
div.simpleTabsContent h3{
  font-size:18px;
  margin: 0;
  padding: 10px 0 7px 0;
  color:#666666;
  font-family:"Arial";
  font-weight:normal;
  font-style:italic;
}
div.simpleTabsContent h4{
  font-size: 18px;
  margin: 0;
  padding: 10px 0 7px 0;
  font-weight: normal;
  color:#666666;
  font-family:"Arial";
}
div.simpleTabsContent h5{
	padding:10px 0 7px 0;
	color:#666666;
	font-size:14px;
	font-family:"Arial";
	font-weight:bold;
}
div.simpleTabsContent h6{
	padding-top:10pt;
	line-height:1.15;
	text-align:left;
	color:#666666;
	font-style:italic;
	font-size:10pt;
	font-family:"Arial";
	padding-bottom:2pt
}
div.simpleTabsContent ol, div.simpleTabsContent ul {
	margin: 0 0 0 60px;
}
div.simpleTabsContent li {
	margin: 0 0 8px 0;
}
div.simpleTabsContent p {
	font-size:11pt;
	margin:0 10px 7px 10px;
	font-family:"Arial";
	text-align:justify;
	text-indent:20px;
}
.c8{max-width:523.3pt;background-color:#ffffff;padding:36pt 36pt 36pt 36pt}
.title{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:36pt;font-family:"Arial";font-weight:bold;padding-bottom:6pt}
.subtitle{padding-top:18pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:24pt;font-family:"Georgia";padding-bottom:4pt}
li{color:#000000;font-size:11pt;font-family:"Arial"}

#filtros {
	position: fixed;
	z-index: 10000;
	top: 75px;
	left: 50px;
}
#filtros .menu_filtro {
	float: left;
}
#filtros .menu_filtro a {
	text-decoration: none;
	background-color: #cfc;
	color: #000;
	padding: 6px;
	border: 1px solid #996;
	margin-right: 10px;
}
#filtros .menu_filtro a:hover {
	background-color: #ffc;
	text-shadow: #000 1px 1px 1px;
}
#filtros .menu_filtro div { 
	position:absolute;
	width: 230px;
	display:none;
	margin-top: 5px;
	background-color: #ffc;
	border: solid 1px #996;
	border-top: none;
	border-radius: 5px;
	box-shadow: #000 2px 2px 2px;
	max-height:300px;
	overflow-y:auto;
}
#filtros .menu_filtro div p {
	text-align: left;
	padding:0;
	margin-left: 5px;
}
#form_vinculos span {
	font-size:90%;
}
#form_vinculos select {
	font-size:20px;
}
#compartilhar {
	float:right;
	cursor:pointer;
}
#compartilhar_span {
	position: absolute;
	top: 75px;
	right: 30px;
	border: 1px solid #999;
	box-shadow: #999 2px 2px 2px;
	padding: 5px;
	font-size: 10px;
	font-family: 'Arial';
	display:none;
}
